<mat-card>

  <mat-card-content>

    <form class="login_form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <h1>Register</h1>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width">
        <mat-label>Choose a role...</mat-label>
        <mat-select>
          <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <button mat-raised-button color="primary">Register</button>
    </form>
  </mat-card-content>
</mat-card>
