<!-- add-member-dialog.component.html -->

<h2 mat-dialog-title>Add New Member</h2>

<form [formGroup]="memberForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="memberForm.get('email').hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="memberForm.get('email').hasError('email')">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="memberForm.get('password').hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="memberForm.get('password').hasError('minlength')">Password must be at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User Type</mat-label>
      <mat-select formControlName="userType">
        <mat-option *ngFor="let type of userTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="memberForm.get('userType').hasError('required')">User Type is required</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [disabled]="!memberForm.valid" (click)="onAddMemberClick()">Add Member</button>
  </div>
</form>
